:root{
  --black: #342E37;
  --darkblue: #3E78B2;
  --blue: #3C91E6;
  --green: #A2D729;
  --orange: #FA824C;
  --white: #FFFFFF;
}

.App {
  position: relative;
  width: 1440px;
  height: 3008px;
  background-color: var(--white);
}

.headerDiv {
  position: absolute;
  width: 1440px;
  height: 664px;
  left: -1px;
  top: 0px;
  background: var(--blue);
}

.facepayHeader {
  position: absolute;
  height: 38px;
  left: 5.07%;
  right: 85.28%;
  top: 31px;
  font-family: Roboto;
  font-weight: lighter;
  font-style: normal;
  font-size: 37px;
  line-height: 38px;
  color: var(--white);
}

.facepayHeader b{
  font-weight: 900;
}

.inicio a {
  position: absolute;
  height: 27.4px;
  left: 17.99%;
  right: 79.24%;
  top: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: var(--green);
  text-decoration: none;
}

.pagamento a {
  position: absolute;
  height: 27.4px;
  left: 24.25%;
  right: 70.04%;
  top: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
  text-decoration: none;
}

.carteiraDigital a {
  position: absolute;
  height: 27.4px;
  left: 33.53%;
  right: 59.26%;
  top: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
  text-decoration: none;
}

.sobreNos a {
  position: absolute;
  height: 27.4px;
  left: 44.31%;
  right: 50.69%;
  top: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
  text-decoration: none;
}

.cadastroHeader {
  position: absolute;
  left: 1137px;
  right: 73px;
  top: 31px;
  bottom: 596px;
  background: var(--green);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--white);
}

.imageHeader {
  position: absolute;
  width: 1292px;
  height: 631px;
  left: 74px;
  top: 107px;
  background: url("../../images/Background.png");
  border-radius: 10px;
}

.textOnImage {
  position: absolute;
  width: 531px;
  height: 631px;
  background: var(--black);
  mix-blend-mode: multiply;
  opacity: 0.6;
}

.textOnImageH1 {
  position: absolute;
  width: 451px;
  height: 113px;
  left: 40px;
  top: 144px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.textOnImageH3 {
  position: absolute;
  width: 416px;
  height: 76px;
  left: 55px;
  top: 303px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.imageButtonCadastro {
  position: absolute;
  height: 60px;
  width: 240px;
  left: 149px;
  top: 459px;
  display: flex;
  align-items: center;
  background: var(--green);
  border-radius: 5px;
  cursor: pointer;
}
.imageButtonCadastro a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  color:  var(--white);
  margin-left: 75px;
}

.content1BaseDiv {
  position: absolute;
  background: var(--white);
  left: -0.14px;
  right: 0.14px;
  top: 823px;
  bottom: 52.69%;
}

.content1ColorBackground {
  background: #F2F2F2;
  position: absolute;
  width: 1440px;
  height: 600px;
}

.content1Image {
  position: absolute;
  width: 700px;
  height: 600px;
  right: 0px;
  top: 0px;
  background: url("../../images/image 5.png");
}

.content1TextHead {
  position: absolute;
  top: 109px;
  left: 135px;
  width: 440px;
  height: 34px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;

  color: #000000;
}

.content1Text {
  position: absolute;
  left: 135px;
  right: 883px;
  top: 253px;
  width: 422px;
  height: 85px;
  text-align: justify;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.content1Button {
  position: absolute;
  width: 240px;
  height: 60px;
  top: 466px;
  left: 220px;
  background: var(--orange);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: grid;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.content1Button a {
  text-decoration: none;
  color: #FFFFFF;
}

.content2Div {
  position: relative;
}

.content3Div {
  position: absolute;
  width: 1440px;
  height: 307px;
  top: 2215px;
  left: 0px;
  background: url("../../images/Rectangle 7.png");
  background-repeat: no-repeat;
}

.maskBackground {
  position: absolute;
  width: 1440px;
  height: 307px;
  left: 0px;
  background: url("../../images/Rectangle 8.png");
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: 1;
}

.content3Text {
  position: absolute;
  top: 52px;
  left: 690px;
  width: 586px;
  height: 105px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
  z-index: 2;
}

.content3Button1 {
   position: absolute;
   top: 194px;
   left: 726px;
   width: 240px;
   height: 60px;
   background: var(--orange);
   border-radius: 5px;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   display: grid;
   align-items: center;
   text-align: center;
   color: var(--white);
   z-index: 2;
   cursor: pointer;
 }

.content3Button1 a {
  text-align: center;
  text-decoration: none;
  color: var(--white);
}

.content3Button2 {
  position: absolute;
  top: 194px;
  left: 1000px;
  width: 240px;
  height: 60px;
  background: var(--green);
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: grid;
  align-items: center;
  text-align: center;
  color: var(--white);
  z-index: 2;
  cursor: pointer;
}

.content3Button2 a {
  text-align: center;
  text-decoration: none;
  color: var(--white);
}

.footerBaseDiv {
  position: absolute;
  background: var(--blue);
  top: 2646px;
  width: 1440px;
  height: 363px;
}

.footerBaseDiv hr {
  position: absolute;
  width: 1000px;
  top: 141px;
  left: 220px;
}

.facepayFooter {
  position: absolute;
  left: 674px;
  top: 64px;
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--white);
}

.produtos {
  position: absolute;
  left: 220px;
  top: 68px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
}

.transparencia {
  position: absolute;
  top: 68px;
  left: 320px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
}

.explore {
  position: absolute;
  top: 68px;
  left: 453px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
}

.sobre {
  position: absolute;
  top: 68px;
  left: 916px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
}

.blog {
  position: absolute;
  top: 68px;
  left: 995px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
}

.suporte {
  position: absolute;
  top: 68px;
  left: 1066px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
}

.ouvidoria {
  position: absolute;
  top: 68px;
  left: 1159px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
}

.facebookIcon {
  position: absolute;
  top: 51px;
  left: 571px;
}

.linkedinIcon {
  position: absolute;
  top: 208.5px;
  left: 654px;
}

.instagramIcon {
  position: absolute;
  top: 208.5px;
  left: 737px;
}

.youtubeIcon {
  position: absolute;
  top: 208.5px;
  left: 820px;
}

.copyrightHome {
  position: absolute;
  top: 308px;
  left: 602px;;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--white);
}

.autores{
  position: absolute;
  top: 306px;
  left: 671px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--white);
}
